.login-block {
    width: 700px;
    padding: 20px;
    background: #FAFAFA;
    margin: 0 auto;
    border-radius: 5px;
    border-top: 5px solid #6d7fcc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.login-block h1 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat, serif;
    padding: 0 20px 0 10px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #7386D5;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #7386D5;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #6d7fcc;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat, serif;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #6d7fcc;
}
input[type="radio"] { display: none; }

input[type="radio"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat, serif;
    color: #6d7fcc;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="radio"] + label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #6d7fcc;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}